.navBar
{
    background-color: #232323;
}
.miniMenu {
    background-color:#171717;
    display: flex;
    justify-content: left;
    padding-left: 15px;
    align-items: center;
    width:35rem;
    height: 2.5rem;
    
}

@keyframes slideAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .slide {
    animation: slideAnimation 0.5s forwards;
  }

.hoverEffect:hover {
  background-color: #171717; /* Replace darkerColor with the darker background color you want */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}